$ring: ($phone - 50px) / 2;
$ring-size: ($ring - 5px) / 2;
$spin-size: $ring-size - 10px;
$spin-position: ($phone - $ring - 10px - $spin-size * 2) / 2;
$spin: $phone - $spin-position * 2;

.spin {
    position: absolute;
    top: $spin-position;
    left: $spin-position;
    z-index: 1;
    transform: rotate(0deg);
    transition-duration: 0s;
    width: $spin;
    height: $spin;
}
